.idea/
.vscode/
.env
node_modules/
coverage/
.nyc_output
build/
tmp/
temp/
.gitignore
.elasticbeanstalk/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
